<div class="row">
  <div class="col-12">
    <img
    class="col-12 img"
      src="https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_960_720.jpg"/>
  </div>

  <div class="col-12">

    <div class="card h-100 shadow-sm ">

      <div class="cardimg col-3" style="cursor: pointer;">
        <img src="https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_960_720.jpg"
        class="img-fluid imagecard bg-info">
        <h5 class="">Restaurant Name</h5>

        <div>Lorem ipsum dolor sit amet consectetur adipisiciEst nisi distinctio voluptas dignissimos? Facere unde error, voluptas cum dolore</div>

          <div>
            <a class="my-3">Menu <i class="fa-duotone fa-angle-up fa-rotate-90"></i></a>
          </div>

      </div>

      </div>


  </div>
</div>


