<ngx-spinner type="ball-scale-multiple"></ngx-spinner>


<div class="home vh-100 text-white">
  <!-- <img class="homeImg img-fluid vh-100 w-100" src="assets/Images/Home/HomeBackground.jpeg"> -->

  <div class="container d-flex align-items-center h-50">
    <div
      class="container h-75 row d-flex justify-content-center align-items-center"
    >
      <div class="text-center w-70 fa-2x fw-bold fs-1">
        <div>
          <p>
            Order <span>Food Online From</span> the
            <br /> Best Restaurants
          </p>
        </div>
      </div>

      <div class="bg-warning container w-75 p-3 d-flex justify-content-around">
        <input
        [(ngModel)]="searchText"
          class="px-4"
          style="width: 40%"
          type="text"
          name="search"
          id="searchId"
          placeholder="Restaurant Name"
        />
        <select [(ngModel)]="searchCity" class="px-4" style="width: 34%" name="City" id="CityId">
          <option value="" selected>Search City</option>
          <option value="{{Restaurant.city}}" *ngFor="let Restaurant of allRestaurantsList">{{Restaurant.city}}</option>

        </select>
        <button (click)="OnSearch()" class="btn btn-danger rounded-0" style="width: 24%">
          Search
        </button>
      </div>

      <div >
        <div class="container w-75 d-flex justify-content-between mt-3">
          <div class="d-flex align-items-center gap-2">
            <img class="imgg" src="assets/Images/Home/icons/icon1.jpeg" />
            <div>
              <div class="fa-2x fw-bold fs-4">137</div>
              <div>Restaurant</div>
            </div>
          </div>
          <div class="d-flex align-items-center gap-2">
            <img class="imgg" src="assets/Images/Home/icons/icon2.jpeg" />
            <div>
              <div class="fa-2x fw-bold fs-4">158</div>
              <div>People Served</div>
            </div>
          </div>
          <div class="d-flex align-items-center gap-2">
            <img class="imgg" src="assets/Images/Home/icons/icon3.jpeg" />
            <div>
              <div class="fa-2x fw-bold fs-4">659k</div>
              <div>Happy Service</div>
            </div>
          </div>
          <div class="d-flex align-items-center gap-2">
            <img class="imgg" src="assets/Images/Home/icons/icon4.jpeg" />
            <div>
              <div class="fa-2x fw-bold fs-4">235</div>
              <div>Regular Users</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid border border-dark roundedCard border-2 mt-5  py-5  m-auto bg-white text-black row ">

    <div class="crd container-fluid w-25 border border-dark m-auto p-0 col-4"
    *ngFor="let Restaurant of RestaurantsList">

      <div class="card">
        <img class="img-fluid" src="{{Restaurant.restaurantImage}}" />
      </div>
      <div class=" p-4">
        <h4>{{Restaurant.restaurantName | uppercase}}</h4>
        <p>{{Restaurant.restaurantDescription}}</p>
          <a class="btn btn-outline-danger" routerLink="/items/{{Restaurant?.id}}" style="cursor: pointer; font-weight: bolder;" >
            Menu
           <a style="color: rgb(231, 166, 166); text-decoration: none;" class="fa fa-arrow-right me-2">
          </a>
      </a>
      </div>
    </div>
    <div *ngIf="RestaurantsList.length <1">
      <h1 *ngIf="!RestaurantsList" class="text-center" >No Items Here</h1>
    </div>

  </div>
</div>
