<div class="container mt-2">

  <div >
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-2 mb-1">


            <div class="col-12 mb-5">
              <h1 class="mb-4">Your Data</h1>
              <div class="col-3" style="display: inline-block;">
                <h4 style=" font-weight: bold;"><p class="text-warning fa fa-user me-2"></p> Name</h4>
                <p style="color: gray; font-weight: bold;">{{user.name | uppercase}}</p>
              </div>

              <div class="col-3" style="display: inline-block;">
                <h4 style=" font-weight: bold;"><p class="text-warning fa fa-phone me-2"></p> Phone</h4>
                <p style="color: gray; font-weight: bold;">{{user.phone}}</p>
              </div>

              <div class="col-3" style="display: inline-block;">
                <h4 style=" font-weight: bold;"><p class="text-warning fa fa-envelope me-2"></p> E-mail</h4>
                <p style="color: gray; font-weight: bold;">{{user.email}}</p>
              </div>

              <div class="col-3" style="display: inline-block;">
                <h4 style=" font-weight: bold;"><p class=" fa fa-map-marker text-warning me-2"></p> Address</h4>
                <p style="color: gray; font-weight: bold;">{{user.address | uppercase}}</p>
              </div>
            </div>




            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-3 text-uppercase">Price</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">Quantity</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-3 text-uppercase">Total</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of basketitems">
                  <tr >
                    <th scope="row">
                      <div class="p-2"  >
                        <img  src="{{item.menuItemImage}}" alt=""class="img-fluid imggg" style="max-height: 50px;">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0">
                            <a routerLink="" class="text-dark"></a>
                          </h5>
                          <span class=" d-block ms-4">{{item.menuItemTitle}} </span>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
                    <td class="align-middle">

                      <div class="d-flex align-items-center">
                        <i (click)="decrementQuantity(item)" class="fa fa-minus-circle text-warning me-2" style="cursor: pointer; font-size: 2em;">
                          <h2 style="display: inline-block; margin-left: 15px;">{{item.quantity}}</h2>
                        </i>
                        <span  class="fw-bold" style="font-size: 1.5em;"></span>
                        <i (click)="incrementQuantity(item)" class="fa fa-plus-circle text-warning ms-2" style="cursor: pointer; font-size: 2em;"></i>
                      </div>


                    </td>
                    <td class="align-middle"><strong>{{item.totalPrice | currency}}</strong></td>
                    <td class="align-middle px-5">
                      <a class="text-danger">
                        <i (click)="removeItemFromBasket(item)" class="fa fa-trash me-5" style="cursor: pointer; font-size: 2em;"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="basketitems.length==0">
              <p class="noItems">There are no items in your basket</p>
            </div>

            <div class="border">
              <h3 style="margin: 20px; font-weight: bold;">Total</h3>
              <h3 style="margin: 20px;">Subtotal <span style="float: right;">{{calculateBasketTotal() | currency}}</span></h3><hr style="margin: 10px 30px;">
              <h3 style="margin: 20px; ">Total <span style="float: right;">{{calculateBasketTotal() | currency}}</span></h3> <hr style="margin: 10px 30px;">
              <div class="row">
                <div class="col-12">
                <a (click)="goBack()" class="btn btn-warning m-3" style="font-weight: bold;">Back</a>
                <div style="float: right;">
                  <button [disabled]="basketitems.length==0" (click)="onCheckout()" class="btn btn-warning checkout m-3">CHeckout</button>
                </div>

                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>











