.checkout{
  color: aliceblue;
  font-weight: bolder;
  padding: 10px;
}

.imggg{
  border-radius: 50px;
}


.noItems{
  margin-bottom: 55px;
  font-weight: bolder;
  font-size: 30px;
 text-align: center
;}

