.imgg{
  border-radius: 50px;
  margin-top: 20px;
}

.imgcard{
  border-radius: 20px;
  margin: 10px;
}



.card {
  border: 0px;
}


.checkbox{
  width: 20px;
  height: 20px;
}


.form-check-input[type="checkbox"]:checked {
  background-color: #ffc107;
}

.form-check-label {
  display: inline-block;
  position: relative;
}

.form-check-label span {
  display: inline-block;
}

.form-check-label::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 50%;
  border-bottom: 4px solid #ffc107;
}



.price-tag {
  position: absolute;
  top: 0px;
  left: 138px;
  width: 0;
  border-top: 95px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 155px solid rgb(255, 196, 0);
}

.price-tag span {
  position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  top: -50px;
  left: 70px;
  font-size: 20px;
  color: #fff;
}







