.imgg{
  border-radius: 50px;
  margin-top: 20px;
}

.imgcard{
  border-radius: 20px;
  margin: 10px;
}






.pricetag{
  white-space:nowrap;
  position:relative;
  margin:0 5px 0 10px;
  displaY:inline-block;
  height:25px;
  border-radius: 0 5px 5px 0;
  padding: 0 25px 0 15px;
  background:#cccf04;
  border: 1px solid #C7D2D4;
  color:#2b2a2a;
  line-height:23px;
}
.pricetag:after{
  position:absolute;
  right:0;
  margin:1px 7px;
  font-weight:bold;
  font-size:19px;
  // content:"\00D7";
}
.pricetag:before{
  position:absolute;
  background:#E8EDF0;
  content:"\25CF";
  color:rgb(182, 194, 18);
  text-shadow: 0 0 1px #aaa;
  font-size:12px;
  line-height:13px;
  text-indent:6px;
  top:3px;
  left:-10px;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  border-left:1px solid #C7D2D4;
  border-bottom:1px solid #C7D2D4;
}


