<!-- <div class="row">
  <div class="col-12">
    <div class="col-6">
      <div class="container-fluid border border-dark w-25 border border-dark m-auto p-0 col-4" *ngFor="let item of itemsList">
        <div class="card">
          <img class="img-fluid" src="{{item.menuItemImage}}" />
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="container-fluid border border-dark w-25 border border-dark m-auto p-0 col-4" *ngFor="let item of itemsList ">
        <div class=" p-4">
          <h4>{{item.menuItemTitle}}</h4>
          <p>{{item.menuItemDescription}}</p>
          <p>{{item.price}}</p>
          <a style="cursor: pointer; font-weight: bolder;" >
            Menu <a class="fa fa-arrow-right me-2"></a>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>

 -->


 <div
 class=" py-5 m-auto bg-white text-black col-12 row vh-100"
>
  <div class="m-auto p-0 col-6  d-flex align-items-center " *ngFor="let item of itemsList">
      <div class="row ms-4" style="background-color: rgb(237, 240, 240);">
          <div class="p-0 col-6 ">
            <img class="img-fluid" src="{{item.menuItemImage}}" />
          </div>
          <div class=" col-6">
            <h4>{{item.menuItemTitle}}</h4>
            <p>{{item.menuItemDescription}}</p>
          <div ><h4><span class="pricetag">{{item.price| currency:" EGP "}}</span></h4></div>
        </div>
    </div>
  </div>
</div>






