<div class="row">
  <div class="col-6">
    <div class="userForm m-auto my-5 w-75">
      <h1 class="reserveText">Reserve Now </h1>
      <p style="color: gray;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit ipsum, at assumenda atque dolorum maiores excepturi! Quia aut eius hic, at doloremque suscipit fuga nam dolores, illum nulla ipsa voluptas?
      </p>
      <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div class="row">
        <div class="group-input mb-3 col-6">
          <label>Name</label>
          <div  class="phone-icon">
            <input formControlName="name" placeholder="Enter your name" type="text" class="form-control ">
            <i class="fa fa-pencil"></i>
          </div>
          <div *ngIf="userForm.controls['name'].touched&&userForm.controls['name'].invalid" class="text-danger">
            <p *ngIf="userForm.controls['name'].errors?.['required']">Name is required</p>
            <p *ngIf="userForm.controls['name'].errors?.['minlength']">Name minimum length should be 3</p>
            <p *ngIf="userForm.controls['name'].errors?.['maxlength']">Name maximum length should be 10</p>
          </div>
        </div>

            <div class="group-input mb-3 col-6">
              <label>Phone</label>
              <div class="phone-icon">
                <input formControlName="phone" placeholder="Enter your Phone number" type="text" class="form-control">
                <i class="fa fa-phone"></i>
              </div>
              <div *ngIf="userForm.controls['phone'].touched&&userForm.controls['phone'].invalid" class="text-danger">
                <p *ngIf="userForm.controls['phone'].errors?.['required']">Phone is required</p>
                <p *ngIf="userForm.controls['phone'].errors?.['pattern']">Phone should be valid like "+20 and your phone number"</p>
              </div>
            </div>

                <div class="group-input mb-3 col-6">
                  <label>Email</label>
                    <div  class="phone-icon">
                    <input formControlName="email" placeholder="Enter your e-mail" type="email" class="form-control">
                    <i class="fa fa-envelope"></i>
                  </div>

                  <div *ngIf="userForm.controls['email'].touched&&userForm.controls['email'].invalid" class="text-danger">
                    <p *ngIf="userForm.controls['email'].errors?.['required']">Email is required</p>
                    <p *ngIf="userForm.controls['email'].errors?.['pattern']">Email shoud be valid mail like "mail@gmail.com"</p>
                  </div>
                </div>

        <div class="group-input mb-3 col-6">
          <label>Address</label>
          <div class="phone-icon">
            <input formControlName="address" placeholder="Enter your address" type="text" class="form-control">
            <i class="fa fa-map-marker"></i>
          </div>
          <div *ngIf="userForm.controls['address'].touched&&userForm.controls['address'].invalid" class="text-danger">
            <p *ngIf="userForm.controls['address'].errors?.['required']">address is required</p>
          </div>
        </div>


        <button (click)="goBack()" style="font-weight: bolder;" class="btn btn-warning col-2">
          <span> BACK </span>
        </button>

        <button style="font-weight: bolder;" [disabled]="userForm.invalid" type="submit"
        class="btn btn-warning col-3 ms-auto">
          <span> CONFIRM</span>
        </button>
      </div>
      </form>
    </div>


  </div>



  <div class="col-6 card border-warning p-4 mt-5" style="width: 40%;">
    <div class="">
      <div class="d-flex justify-content-between">
        <h1 style="font-family: cursive;"> <span class="text-warning">Todays</span> Special</h1>
        <h1 class="bg-warning d-flex align-self-end ">$12.00</h1>
      </div>
      <h5>CAESAR SALAD</h5> <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="">
      <img
      class="img-fluid "
      src="assets/Images/Home/restaurantImage1.jpg"
      alt=""
    />
    </div>
  </div>
</div>

</div>
